<p id="notice"><%= notice %></p>

<h1><%= @chatroom.name %></h1>


<h2>Users:</h2>
<% if @chatroom.users.empty? %>
  <p>DONT FORGET TO ADD YOURSELF...</p>
<% else %>
<ul>
    <% @chatroom.users.each do |user| %>
      <li><%=  user.email %></li>
    <% end %>
  </ul>
<% end %>

<h3>Add a user:</h3>
<%= form_with url: "/chatrooms/#{@chatroom.id}/users" do |form| %>
  <%= form.collection_select :user_id, @users, :id, :email, prompt: true %>
  <%= form.submit 'Add Student' %>
<% end %>




<% if @chatroom.messages.empty? %>
  <p>No messages in this chatroom yet! Add a message with the button below.</p>
<% else %>
  <h3>Messages:</h3>

  <ul>
    <% @chatroom.messages.each do |message| %>
      <li><%=  message.body %> - Created on <%= message.created_at_formatted %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to 'New message', new_message_path %> |
<%= link_to 'Edit', edit_chatroom_path(@chatroom) %> |
<%= link_to 'Destroy', @chatroom, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', chatrooms_path %>